@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


* {
    border: 0px solid red;
}

body {
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Work Sans';
}


/* Start Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 100px;
}

header nav .logo a{
    width: 50%;
    font-size: 31px;
    color: #fff;
    text-decoration: none;
}

header nav .logo a:hover {
    color: #565656;
}

header nav .menu-header {
    width: 35%;
}

header nav .menu-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav .menu-header ul li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header nav .menu-header ul li a:hover {
    color: #565656;
}

/* End Header */

/* Section-one */


.section_one {
    height: 100vh;
    background: url('../img/bg-banner.png');
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_one .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    color: #fff;
}


.section_one .text h3 {
    font-size: 72px;
    font-weight: 100;
    margin: 0 0 6px 0;
}

.section_one .text p {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin: 0 0 0 0;
}

/* Section-one END */

/* Section-two */

.section_two {
    height: 70vh;
    background: url('../img/bg-red.png');
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section_two .sushi-img img {
    width: 400px;
    height: 355px;
}

.section_two .our-story-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 570px;
    height: 400px;
}

.section_two .our-story-text h3 {
    font-size: 56px;
    margin: 0 0 15px 0;
    color: #fff;
}

.section_two .our-story-text div {
    background: white;
    height: 2px;
    width: 100px;
    margin-bottom: 20px;
}

.section_two .our-story-text p {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    width: 500px;
    color: #fff;
}

/* Section-two END */

/* Section-three */

.section_three {
    height: 65vh;
    background: url('../img/section-three-bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_three .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
}

.section_three .text h3 {
    font-size: 56px;
    margin: 0 0 18px 0;
}

.section_three .text div {
    background-color: red;
    height: 2px;
    width: 100px;
}

.section_three .text p {
    font-size: 18px;
    margin: 35px 0 0 0;
    text-align: center;
    line-height: 30px;
    width: 700px;
}

/* Section-three END */

/* Section-four  */

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0 0;
    padding-bottom: 80px;
    background-color: #f3f4f7;
}

.section-four .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-four .text h3 {
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 15px;
}

.section-four .text div {
    background-color: red;
    height: 2px;
    width: 100px;
    margin-bottom: 60px;
}

.section-four  .table-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.section-four  .table-text .name-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-four  .table-text .name-price span {
    color: red;
}

.section-four  .table-text .text-large {
    font-size: 12px;
    width: 500px;
}

/* Section-four END */

/* Section-five  */

.section-five {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

.section-five .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
} 

.section-five .image img:nth-child(1) {
    width: 20%;
    height: 100%;
}

.section-five .image img:nth-child(2) {
    width: 80%;
    height: 100%;
}

.section-five .image img:nth-child(3) {
    width: 80%;
    height: 100%;
}

.section-five .image img:nth-child(4) {
    width: 10%;
    height: 100%;
}

/* Section-five END */

/* Section-six  */

.section-six {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #25262a;
    color: #fff;
}

.section-six .menu-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.section-six .menu-footer div:nth-child(1) h3{
    font-size: 26px;   
}

.section-six .menu-footer div:nth-child(1) p {
    font-size: 14px;
    line-height: 20px;
    width: 300px;
}

.section-six .menu-footer div h5{
    font-size: 18px;
}

.section-six .menu-footer div > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90px;
}

.section-six a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;

}

.section-six a:hover {
    color: #565656;
}

.section-six a i {
    font-size: 16px;
    color: red;
    margin-left: 4px;
    margin-right: 8px;
}

/* Section-six END */

/* Section-seven */


.section-seven {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    background-color: #16171b;
    
}
 
.section-seven .creator {
    font-size: 16px;
    font-weight: 600;
    color: #565656;
}

.section-seven .support-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.section-seven .support-menu a {
    font-weight: 900;
    text-decoration: none;
    color: #565656;
}

.section-seven .support-menu a:hover {
    color: #fff;
}


.section-seven .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.section-seven .social a{
    text-decoration: none;
}

.section-seven .social a:hover i {
    color: #fff;
}

.section-seven .social a i {
    font-size: 16px;
    color: #565656;
}

/* Section-seven END */